<p id="notice"><%= notice %></p>

<h1>Listing Airports</h1>
<%= paginate @airports %>
<table>
  <thead>
    <tr>
      <th>Airport ID</th>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Elev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= link_to airport.location_id, airport %></td>
        <td><%= airport.name %></td>
        <td><%= airport.city %></td>
        <td><%= airport.state %></td>
        <td><%= airport.lat %></td>
        <td><%= airport.lon %></td>
        <td><%= airport.elev %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
