<p id="notice"><%= notice %></p>

<p>
  <strong>Airport:</strong>
  <%= @airport.location_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @airport.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @airport.state %>
</p>

<p>
  <strong>From JVY:</strong>
  <%= number_with_precision(@airport.vector_from_jvy[:distance],precision: 1) %>nm 
  <%= number_with_precision(@airport.vector_from_jvy[:bearing], precision: 0) %>&deg;
</p>

<p>
  <strong>Elev:</strong>
  <%= @airport.elev %>
</p>
<h1>Hamburgers at this airport:</h1>
<%= render 'hamburgers/index' %>
<%= link_to 'Back', airports_path %>
