<%= form_for(@hamburger) do |f| %>
  <% if @hamburger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hamburger.errors.count, "error") %> prohibited this hamburger from being saved:</h2>

      <ul>
      <% @hamburger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airport %><br>
    <%= f.autocomplete_field :airport, autocomplete_airport_id_and_name_airports_path, :id_element => '#hamburger_airport_id', :size => 40, :placeholder => 'Enter airport id or name', :value => @hamburger.airport ? @hamburger.airport.id_and_name : '' %>
    <%= f.hidden_field :airport_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :on_field %><br>
    <%= f.check_box :on_field %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :placeholder => "ex: type of food, walking or driving distance, nice view, etc" %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
