<%= form_for(@hamburger) do |f| %>
  <% if @hamburger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hamburger.errors.count, "error") %> prohibited this hamburger from being saved:</h2>

      <ul>
      <% @hamburger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airport_id %><br>
    <%= f.text_field :airport_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :on_field %><br>
    <%= f.check_box :on_field %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
