<p id="notice"><%= notice %></p>

<h1>$100 Hamburger List</h1>

<table>
  <thead>
    <tr>
      <th>Airport</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @hamburgers.each do |hamburger| %>
      <tr>
        <td><%= hamburger.airport_id %></td>
        <td><%= link_to hamburger.name, hamburger %></td>
        <!--td><%= link_to 'Show', hamburger %></td>
        <td><%= link_to 'Edit', edit_hamburger_path(hamburger) %></td>
        <td><%= link_to 'Destroy', hamburger, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new $100 hamburger', new_hamburger_path %>
