<p id="notice"><%= notice %></p>

<h1>Listing Hamburgers</h1>

<table>
  <thead>
    <tr>
      <th>Airport</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hamburgers.each do |hamburger| %>
      <tr>
        <td><%= hamburger.airport_id %></td>
        <td><%= hamburger.name %></td>
        <td><%= hamburger.notes %></td>
        <td><%= hamburger.website %></td>
        <td><%= link_to 'Show', hamburger %></td>
        <td><%= link_to 'Edit', edit_hamburger_path(hamburger) %></td>
        <td><%= link_to 'Destroy', hamburger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hamburger', new_hamburger_path %>
