<p id="notice"><%= notice %></p>

<p>
  <strong>Airport:</strong>
  <%= @hamburger.airport.id_and_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hamburger.name %>
</p>

<p>
  <strong>Restaurant On Field?:</strong>
  <%= @hamburger.on_field ? "YES" : "NO" %>
</p>
<p>
<strong>From JVY:</strong>
  <%= number_with_precision(@hamburger.airport.vector_from_jvy[:distance],precision: 1) %>nm 
  <%= number_with_precision(@hamburger.airport.vector_from_jvy[:bearing], precision: 0) %>&deg; 
</p>

<p>
  <strong>Notes:</strong>
  <%= @hamburger.notes %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @hamburger.website, @hamburger.website %>
</p>

<%= link_to 'Edit', edit_hamburger_path(@hamburger) %> |
<%= link_to 'Delete', @hamburger, method: :delete, data: { confirm: 'Are you sure?' } %> 
